/*
Colors used

Text Color (Dark Gray): #357b70;
Primary Color (Pink): #f44b95;
Secondary Color (Green): #3bae35;
 */
 
 :root {
   --primary-color: #686868;
   --secondary-color: #e0b354;
   --dark-grey: #1a1a1a;
   --med-grey: #2e2e2e;
   --heading-font-weight: 700;
   --color-visited: #f44b95;
   --color-active: #3bae35;
   --font-accent: #6CE4FE;
   --background-light: #ffd800;
   --white: #ffffff;
   --light-grey: #919191;



   --gap: 8px;
  --gap0-5: calc(var(--gap)*0.5);
  --gap1-5: calc(var(--gap)*1.5);
  --gap2: calc(var(--gap)*2);
  --gap3: calc(var(--gap)*3);
  --gap4: calc(var(--gap)*4);
  --gap5: calc(var(--gap)*5);
  --gap6: calc(var(--gap)*6);
  --gap7: calc(var(--gap)*7);
  --gap8: calc(var(--gap)*8);


  --border-radius: 3px;
 }


body {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: #181818;
}

h1 {
  font-size: 60px;
  font-weight: var(--heading-font-weight);
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: var(--white);
}

h2 {
  font-size: 24px;
  font-weight: var(--heading-font-weight);
}

h3 {
  font-size: 21px;
  font-weight: var(--heading-font-weight);
  color: var(--white);
}

.contact{
  font-size: 18px;
  color: var(--white);
  margin: 20px;
  /* padding-bottom: 100px; */

}

.contact-div{
  display: flex;
  justify-content: center;
  
}

a {
  color: var(--white);
  text-decoration: none;
}

/* a:visited {
  color: var(--color-visited);
} */

a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
  color: var(--light-grey);
}
a:active {
  color: var(--color-active);
}
button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 0px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
button:hover, button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}
.button__secondary {
  background-color: var(--secondary-color);
  color: var(--dark-grey);
}
.navigation-list__item--active {
  text-decoration: none;
}
.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.profile {
  /* display: flex; */
  /* max-width: 700px; */
  margin: 0 auto;
  padding-top: 100px;
  width: 75%;
  justify-content: center;
}
* {
  box-sizing: border-box;
}
.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  /* background-color: rgb(24, 24, 24); */
  margin: 0 auto;
  margin-bottom: 0;
  border: none;

  /* background-color: #a12323; */

}

.header{
  background-color: #1a1a1a;
}
.page-header__item {
  flex: 0 1 200px;
  
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}
.navigation-list {
  list-style-type: none;
  
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.grid__item {
  background-color: lightgray;
  padding: 10px;
}
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
.button, button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}
@keyframes color-change {
  from {
    fill: #edc655;
  }
  to {
    fill: #f76414;
  }
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.blueline {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--light-grey);
}

.projects {
  /* max-width: 700px; */
  margin: 0 auto;
  width: 75%;
  

  
}

.dev-details{
  padding-top:15px;
}

.dev-project {
  flex-shrink: 0;
  display: flex;
   /* width: 45%; */
  height: auto;
  justify-content: center;
margin: 10px;
}

.alt-dev-projects {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* gap: var(--gap5); */
  overflow-x: auto;
  padding-top: 1rem;
  justify-content: center;
  padding-bottom: var(--gap5);
  border-bottom: 1px solid var(--font-dark);
  margin-top: var(--gap5);
}

.alt-dev-projects .dev-project {
  /* flex-wrap: wrap; */
  /* width: 90%; */
  height: auto;
  background-color: var(--med-grey);
  padding: var(--gap2);
  border-radius: 5px;
  justify-content: center;
  /* margin-left: 40px; */
  display: flex;
  /* margin-top: var(--gap5); */
  /* margin: 20px; */
  min-height:625px;


  
}

.name {
  animation-name: swipe-left;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  position: relative;
}

strong {
  color: var(--light-grey);
  font-size: 22px;
  padding-bottom: 0px;
  margin-bottom: 0px;

}

p {
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: var(--white);
}

.subtitle{
  color: var(--light-grey);
  
}

.dev-projects-title{
  color: var(--white);
  padding-top: 30px;
}

.about{
  color: var(--white);
}

.about-div{
  width: 75%;
  margin: 0 auto;
  padding-top: 30px;
}

.profile-pic {
  width: 100%;
  /* height: 100%; */
  margin: 0px;
  border-radius: 5px;
  margin-bottom: 30px;
  
}

.profile-bio{
  color: var(--light-grey);
  
}

.pro-div{
  display: flex;
}

.center {
  text-align: center;
}

.tools{
  /* display: flex; */
  color: var(--light-grey);
  width: 90%;
  padding-top: 15px;
}

.con{
  padding-top: 15px;
}

.skills-tools li,
.dev-project .dev-technologies li {
display: inline;
white-space: nowrap;
}

.skills-tools  li:not(:last-child):after,
.dev-project .dev-technologies li:not(:last-child):after {
  white-space: nowrap;
  content: ' •';
  }

.skills-tools {
  padding-left: 0;
}

.dev-technologies{
  color: var(--light-grey);
  padding-top: 15px;
}

.dev-img{
  width: 100%;
  padding-bottom: 30px;
}

.chat-div{
height:25px;

}

.avi{
  border-radius: 50%;
}


/* .dev-projects {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap7);
  overflow-x: auto;
  padding-top: 1rem;
} */

/* .container{
  margin-top: 0;
} */


.navbar {
  /* overflow: hidden; */
   border: none!important;
   background-color: rgb(24, 24, 24);
   }

   .bg-dark{
    background-color: rgb(24, 24, 24);
   }

/* .bio{
  padding-top: 20px;
} */

.footing{
  padding-bottom: 50px;
}

.nav{
  padding: 10px;
  background-color: rgb(24, 24, 24);
}


.hi{
  white-space: nowrap;
  color: var(--light-grey);
  font-size: 18px; 
}

@media only screen and (max-width:1150px) {
  #testsub {
    display: none;
  }
}

@media only screen and (min-width:1150px) {
  #testsub2 {
    display: none;
  }
}

/* .avibio{
  align-items: center;
} */

.alt-dev-projects-2 {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* gap: var(--gap5); */
  overflow-x: auto;
  padding-top: 1rem;
  justify-content: center;
  padding-bottom: var(--gap5);
  border-bottom: 1px solid var(--font-dark);
  margin-top: var(--gap5);
}

.alt-dev-projects-2 .dev-project {
  /* flex-wrap: wrap; */
  /* width: 90%; */
  height: auto;
  background-color: var(--med-grey);
  padding: var(--gap2);
  border-radius: 5px;
  justify-content: center;
  /* margin-left: 40px; */
  display: flex;
  /* margin-top: var(--gap5); */
  /* margin: 20px; */
  min-height:605px;


  
}

.alt-dev-projects-3 {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* gap: var(--gap5); */
  overflow-x: auto;
  padding-top: 1rem;
  justify-content: center;
  padding-bottom: var(--gap5);
  border-bottom: 1px solid var(--font-dark);
  margin-top: var(--gap5);
}

.alt-dev-projects-3 .dev-project {
  /* flex-wrap: wrap; */
  /* width: 90%; */
  height: auto;
  background-color: var(--med-grey);
  padding: var(--gap2);
  border-radius: 5px;
  justify-content: center;
  /* margin-left: 40px; */
  display: flex;
  /* margin-top: var(--gap5); */
  /* margin: 20px; */
  min-height:585px;


  
}

img {
border-radius: 3px;

}

video{
  border-radius: 3px;
  
  }

  .dropdown-menu {
    background-color: #2e2e2e;
  }

  .dropdown-item{
    color: #fff
  }
